.container {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.tree-view-node {
  margin-left: 1em;
  position: relative;
}

.tree-view-node-children {
  margin-left: 0.5em;
}

.tree-view-node-collapse-toggle {
  display: block;
  position: absolute;
  left: -1em;
}

.tree-view-node-collapse-toggle + span {
  display: inline-block;
}

.tree-collapse-icon::before {
  content: "▼";
}

.tree-expand-icon::before {
  content: "▶";
}
